@import './_foundation/styles/globalVariables.scss';

.container {
  margin: 0 auto;
}

h1 {
  color: brown
}

.h1Extension {
  font-size: 1.5em;
}

.centerFlex {
  display: flex;
  justify-content: center;
}

.listOverriding {
  @media screen and (min-width: $screen_size_sm) {
    width: 100%;
  }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(107, 104, 104, 0.3);
	background-color: rgba(56, 56, 56, 0.3);
}